@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gowun+Dodum&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link{
    color: #a778f8;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.descricao-destaque{
    color: #a778f8;
}

.apresentacao{
    padding: 7% 15%;
    /* margin:10%  15%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Bebas Neue", sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400px;
    font-size: 24px;

}

.apresentacao__links__link{
    /* background-color: #a778f8; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px dashed #a778f8;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 15px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Bebas Neue", sans-serif;
}

.apresentacao__links__link:hover{
    background-color: #272727;
    color: #a778f8;
}

.rodape{
    padding: 24px;
    color: #000000;
    background-color: #a778f8;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    
}